<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <link href="https://fonts.cdnfonts.com/css/open-sauce-one" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dcd4d38e30.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ SITESUBTITLE }}">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/game-demo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ SITEURL }}/{{ FAVICON }}" type="image/x-icon">
    {% endif %}
    
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="page-container">
        <nav class="sidenav">
            <ul>
                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                    <li><a href="{{ SITEURL }}/{{ p.url }}" {% if p == page %}class="active"{% endif %}>{{ p.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
        
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <ul class="social-links">
            {% for name, url in LINKS %}
            <li><a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a></li>
            {% endfor %}
            {% for icon, text, url in SOCIAL %}
            <li><a href="{{ url }}" target="_blank" rel="noopener noreferrer"><i class="{{icon}}"></i>{{ text }}</a></li>
            {% endfor %}
        </ul>
        <p>&copy; {{ COPYRIGHT_YEAR }} {{ AUTHOR }}. All rights reserved.</p>
    </footer>
</body>
</html>
